ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-message {
  display: block;
  text-align: center;
  width: 100%;
  animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.search-form {
  margin: 36px auto 32px auto;
  width: 400px;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 270px;
  padding: 8px 16px;
  color: #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.search-button {
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1128px;
  margin: 0 auto;
  gap: 24px;
}

.gallery-item {
  height: 200px;
  width: calc((100% - 48px) / 3 - 2px);
  border: 1px solid #808080;
}

.galery-item-image-link {
  display: flex;
  height: 76%
}

.galery-item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
  height: 24%;
}

.image-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item-caption {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
}

.info-item-value {
  display: flex;
  font-size: 12px;
  line-height: 2;
}

.iziToast>.iziToast-close {
  background: url(/izi-close.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}